{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
		<title>Caesar Cipher - Soumya's Website</title>
		<link rel="stylesheet" href="{% static 'styles.css' %}">
	</head>
	<body>
		<header>
			<table class="header">
				<tr>
					<td id="welcome" colspan="4">
						<h1 id="welcome-text">Soumya's Website</h1>
						<label for="theme-select">Select theme:</label>
						<select id="theme-select">
							<option value="light">Light</option>
							<option value="dark">Dark</option>
						</select>
					</td>
				</tr>
				<tr id="menu">
					<td><a id="caesar-link" href="../">Homepage</a></td>
					<td><a id="caesar-link" href="../caesar">Caesar Cipher</a></td>
					<td><a id="converter-link" href="../converter">Converter</a></td>
					<td><a id="weather-link" href="../weather">Weather</a></td>
				</tr>
			</table>	
		</header>
		<div class="box">
			<h1 class="heading">Caesar Cipher</h1>
			<form method="POST">
				{% csrf_token %}
				<table class="converter-table">
					<tr>
						<td class="input-label">
							<label for="input">Input:</label>
						</td>
						<td class="input-box">
							<input type="text" id="input" name="input" value="{{ input|default:'' }}" required>
						</td>
					</tr>
					<tr>
						<td class="input-label">
							<label for="shift">Shift letters:</label>
						</td>
						<td class="input-box">
							<input type="text" id="shift" name="shift" value="{{ shift|default:0 }}" required>
						</td>
					</tr>
					<tr>
						<td colspan="2" class="buttons">
							<button type="submit" id="encrypt">Encrypt</button>
						</td>
					</tr>
				</table>
			</form>
			<br/>
			<div class="output">
				{% if output %}
				Output: {{output}}
				{% endif %}
			</div>
		</div>
		<p id="copyright">Copyright © 2022-2025 Soumyabrata Bhattacharjee</p>
		<script src="{% static 'script.js' %}"></script>
	</body>
</html>