body {
    background-color: #f0f0f2;
    color: black;
    font-family: Arial, sans-serif;
	header {
		text-align:center;
		margin: 1.5em auto;
		padding: 0.5em;
		width: 60%;
		background-color: white;
		border-radius: 0.5em;
		box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
	}
	.tab a {
		display: block;
		padding: 1em;
	}
	.tab td:hover {
		background-color: #f0f0f2;
	}
	table {
		margin: auto;
	}
	.heading {
		text-align: center;
	}
	.box {
		margin: 0.5em auto;
		padding: 1.5em;
		width: 60%;
		background-color: white;
		border-radius: 0.5em;
		box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
	}
	.buttons {
		text-align: center;
	}
	.input-box {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	footer {
		text-align: center;
		margin: auto;
	}
}
body.dark {
    background-color: black;
    color: white;
	header, .box {
		background-color: darkslategray;
		border-radius: 0.5em;
		box-shadow: 2px 3px 7px 2px #1a1a1a05;
		nav td:hover {
			background-color: black;
			border-radius: 0.5em;
		}
	}
	.tab a:link, a:visited {
		color: white;
	}
}
#theme-toggle {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}