{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
		<title>Weather - Soumya's Website</title>
		<link rel="stylesheet" href="{% static 'styles.css' %}">
	</head>
	<body>
		<header>
			<h1 id="welcome-text">Soumya's Website</h1>
			<label for="theme-select">Select theme:</label>
			<select id="theme-select">
				<option value="light">Light</option>
				<option value="dark">Dark</option>
			</select>
			<nav role="navigation">
				<table>
					<tr>
						<td><a id="caesar-link" href="../">Homepage</a></td>
						<td><a id="caesar-link" href="../caesar">Caesar Cipher</a></td>
						<td><a id="converter-link" href="../converter">Converter</a></td>
						<td><a id="weather-link" href="../weather">Weather</a></td>
					</tr>
				</table>
			</nav>
		</header>
		<main>
			<div class="box">
				<h2 class="heading">Weather</h2>
				<form method="POST">
					{% csrf_token %} 
					<div class="input-box">
						<input type="text" id="input" name="city" value="{{ city|default:'' }}" placeholder="Enter a city" required>
						<button class="btn btn-default" type="submit" id="get">Get data</button>
					</div>
				</form>
				<div class="output">
					{% if temp and humidity and pressure %}
					<h2>Weather data of {{city}}, {{country}}</h2>
					<ul>
						<li>Temperature: {{temp}}</li>
						<li>Feels like: {{temp_feel}}</li>
						<li>Humidity: {{humidity}}</li>
						<li>Pressure: {{pressure}}</li>
						<li>Wind speed: {{speed}}</li>
					</ul>
					{% endif %}
				</div>
			</div>
		</main>
		<footer>
			<a id="fb" href="https://www.facebook.com/soumyabrata.bhattacharjee.58">Facebook</a> •
			<a id="gh" href="https://github.com/soumyabrata2006">GitHub</a> •
			<a id="li" href="https://www.linkedin.com/in/soumyabrata-bhattacharjee-8a3aa5308/">LinkedIn</a> •
			<a id="ex" href="https://x.com/soumyabhatta_of">X</a>
			<p>Copyright © 2022-2025 Soumyabrata Bhattacharjee</p>
		</footer>
		<script src="{% static 'script.js' %}"></script>
		<script src="{% static 'weather/script.js' %}"></script>
	</body>
</html>