{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
		<title>Universal Converter - Soumya's Website</title>
		<link rel="stylesheet" href="{% static 'styles.css' %}"/>
	</head>
	<body>
		<table class="header">
			<tr>
				<td id="welcome" colspan="3">
					<h1 id="welcome-text">Converter</h1>
					<label for="theme-select">Select theme:</label>
					<select id="theme-select">
						<option value="light">Light</option>
						<option value="dark">Dark</option>
					</select>
				</td>
			</tr>
			<tr id="menu">
				<td><a id="homepage-link" href="../">Homepage</a></td>
				<td><a id="caesar-cipher-link" href="../caesar">Caesar Cipher</a></td>
				<td id="visited"><b>Converter</b></td>
			</tr>
		</table>
		<div class="box">
			<table class="converter-table">
				<tr>
					<td>
						<label for="quantity">Quantity:</label>
						<select id="quantity">
							<option value="select">Select</option>
							<option value="length">Length</option>
							<option value="information">Information</option>
							<option value="temperature">Temperature</option>
						</select>
					</td>
				</tr>
				<tr>
					<td id="input-box">
						<label for="input">Input:</label>
						<input type="text" id="input">
					</td>
				</tr>
			</table>
			<br/>
			<table class="converter-table">
				<tr>
					<td>
						<label for="input-prefix">Input prefix:</label>
						<select id="input-prefix">
							<option value='none'>none (10⁰)</option>
						</select>
					</td>
					<td>
						<label for="input-unit">Input unit:</label>
						<select id="input-unit">
							<option value="select">Select</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label for="output-prefix">Output prefix:</label>
						<select id="output-prefix">
							<option value='none'>none (10⁰)</option>
						</select>
					</td>
					<td>
						<label for="output-unit">Output unit:</label>
						<select id="output-unit">
							<option value="select">Select</option>
						</select>
					</td>
				</tr>
			</table>
			<br/>
			<table class="converter-table">
				<tr>
					<td>
						<button type="submit" id="convert">Convert</button>
						<button type="submit" id="reverse">Reverse units</button>
						<button type="submit" id="clear">Clear</button>
					</td>
				</tr>
				<tr>
					<td id="output"></td>
				</tr>
			</table>
		</div>
		<p id="copyright">Copyright © 2022-2025 Soumyabrata Bhattacharjee</p>
		<script src="{% static 'script.js' %}"></script>
		<script src="{% static 'converter/script.js' %}"></script>
	</body>
</html>